<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.spacexc.wearbili">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.WearBili"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.video.CoinActivity"
            android:exported="false" />
        <activity
            android:name=".activity.video.FavoriteFolderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.search.SearchResultActivityNew"
            android:exported="false" />
        <activity
            android:name=".activity.video.NewVideoCacheActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.SpaceProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.other.ToDesignInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.other.OpenSourceActivity"
            android:exported="false" />
        <activity
            android:name=".activity.other.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.video.StarActivity"
            android:exported="false" />
        <activity
            android:name=".activity.video.VideoRankingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.bangumi.BangumiTimeLineActivity"
            android:exported="false" />
        <activity
            android:name=".activity.bangumi.BangumiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.comment.EmojisActivity"
            android:exported="false" />
        <activity android:name="androidx.wear.activity.ConfirmationActivity" />
        <activity
            android:name=".activity.settings.RequireRestartActivity"
            android:exported="false" />
        <activity
            android:name=".activity.comment.PostActivity"
            android:exported="false" />
        <activity
            android:name=".activity.video.MinifyVideoPlayer"
            android:exported="false" />
        <activity
            android:name=".activity.settings.ChooseSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.FollowListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.StarItemActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.StaredActivity"
            android:exported="false" />
        <activity
            android:name=".activity.other.RequireNetworkActivity"
            android:exported="false" />
        <activity
            android:name=".activity.dynamic.DynamicDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.other.QRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.search.SpecialSearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.image.ImageViewerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.video.WatchLaterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.other.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.video.VideoLongClickActivity"
            android:exported="false" />
        <activity
            android:name=".activity.other.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.video.VideoCacheActivity"
            android:exported="false" />
        <activity
            android:name=".activity.video.ViewFullVideoPartsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.video.PlayOnPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".activity.other.MenuActivity"
            android:exported="false"
            android:theme="@style/Theme.WearBiliMenu" />
        <activity
            android:name=".activity.video.VideoPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/Theme.WearBili.SwipeDisabled" />
        <activity
            android:name=".activity.search.SearchResultActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <!-- 表示该页面可以被隐式调用，必须加上该项 -->
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="search"
                    android:path="/result"
                    android:scheme="wearbili" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.image.PhotoViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.video.VideoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <!-- 表示该页面可以被隐式调用，必须加上该项 -->
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="video"
                    android:scheme="wearbili" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <!-- 表示该页面可以被隐式调用，必须加上该项 -->
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="video"
                    android:scheme="bilibili" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.user.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <service
            android:name=".service.DownloadService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.downloadService.action.RESTART" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>